extends ../components/page-layout

block page-layout-content
  .content-layout
    h1.content__title External API
    .content__body
      p
        | You can use the buttons below to retrieve the corresponding message from
        | a local store.
        br
        strong Only authenticated users can access this page
        | .
      .messages-grid
        .messages-grid__header Messages
        .messages-grid__options
          #public.messages-grid__option
            span Public
          #protected.messages-grid__option
            span Protected
          #admin.messages-grid__option
            span Admin
        code#message.messages-grid__message
  script.
    const messages = {
      public: 'Anyone can see this message.',
      protected: 'Only authenticated users should see this message.',
      admin: 'Only authenticated users with the read:admin-messages permission should see this message.',
    };

    const publicButton = document.getElementById('public');
    const protectedButton = document.getElementById('protected');
    const adminButton = document.getElementById('admin');
    const messageBox = document.getElementById('message');

    publicButton.addEventListener('click', () => {
      protectedButton.classList.remove('messages-grid__option--active');
      adminButton.classList.remove('messages-grid__option--active');

      publicButton.classList.add('messages-grid__option--active');
      messageBox.innerText = messages['public'];
    });

    protectedButton.addEventListener('click', () => {
      publicButton.classList.remove('messages-grid__option--active');
      adminButton.classList.remove('messages-grid__option--active');

      protectedButton.classList.add('messages-grid__option--active');
      messageBox.innerText = messages['protected'];
    });

    adminButton.addEventListener('click', () => {
      publicButton.classList.remove('messages-grid__option--active');
      protectedButton.classList.remove('messages-grid__option--active');

      adminButton.classList.add('messages-grid__option--active');
      messageBox.innerText = messages['admin'];
    });

    messageBox.innerText = messages['public'];
    publicButton.classList.add('messages-grid__option--active');
