extends ../../components/page-layout

block page-layout-content
  .content-layout
    h1.content__title External API
    .content__body
      p
        | You can use the buttons below to retrieve the corresponding message from
        | a local store.
        br
        strong Only authenticated users can access this page
        | .
      .messages-grid
        .messages-grid__header Messages
        .messages-grid__options
          #public.messages-grid__option
            span Public
          #protected.messages-grid__option
            span Protected
          #admin.messages-grid__option
            span Admin
        code#message.messages-grid__message
  script(src="/external-api.js")
